USE [DbNoteRecord]
GO
/****** Object:  Table [dbo].[TBLLESSON]    Script Date: 14.09.2021 20:26:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBLLESSON](
	[StudentID] [smallint] IDENTITY(1,1) NOT NULL,
	[STUDENTNO] [char](5) NULL,
	[STUDENTNAME] [varchar](15) NULL,
	[STUDENTSURNAME] [varchar](20) NULL,
	[STUDENTEX1] [tinyint] NULL,
	[STUDENTEX2] [tinyint] NULL,
	[STUDENTEX3] [tinyint] NULL,
	[AVARAGE] [decimal](18, 2) NULL,
	[STATUS] [bit] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[TBLLESSON] ON 

INSERT [dbo].[TBLLESSON] ([StudentID], [STUDENTNO], [STUDENTNAME], [STUDENTSURNAME], [STUDENTEX1], [STUDENTEX2], [STUDENTEX3], [AVARAGE], [STATUS]) VALUES (1, N'1235 ', N'ALİ', N'YILDIZ', 75, 81, NULL, NULL, NULL)
INSERT [dbo].[TBLLESSON] ([StudentID], [STUDENTNO], [STUDENTNAME], [STUDENTSURNAME], [STUDENTEX1], [STUDENTEX2], [STUDENTEX3], [AVARAGE], [STATUS]) VALUES (2, N'1346 ', N'MEHMET', N'ÇINAR', 78, 95, NULL, NULL, NULL)
INSERT [dbo].[TBLLESSON] ([StudentID], [STUDENTNO], [STUDENTNAME], [STUDENTSURNAME], [STUDENTEX1], [STUDENTEX2], [STUDENTEX3], [AVARAGE], [STATUS]) VALUES (3, N'1458 ', N'AYŞE', N'GÜNEŞ', 65, 66, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[TBLLESSON] OFF
